@model IEnumerable<DishesSite.Models.Recipe>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Название_рецепта)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Описание)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ингредиенты)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Инструкции)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Название_рецепта)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Описание)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ингредиенты)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Инструкции)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Рецепт_Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Рецепт_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
