@model IEnumerable<DishesSite.ViewModels.DeleteRecipesViewModel>

<h1>Список рецептов</h1>

<table class="table">
    <thead>
        <tr>
            <th>Идентификатор</th>
            <th>Название</th>
            <th>Описание</th>
            <th>Ингредиенты</th>
            <th>Инструкции</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var recipe in Model)
        {
            <tr>
                <td>@recipe.Рецепт_Id</td>
                <td>@recipe.Название_рецепта</td>
                <td>@recipe.Описание</td>
                <td>@recipe.Ингредиенты</td>
                <td>@recipe.Инструкции</td>
                <td>
                    <form asp-controller="DeleteRecipes" asp-action="Delete" method="post">
                        <input type="hidden" name="Рецепт_Id" value="@recipe.Рецепт_Id" />
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
