@model IEnumerable<DishesSite.ViewModels.DeleteDishesViewModel>

<h1>Список блюд</h1>

<table class="table">
    <thead>
        <tr>
            <th>Идентификатор</th>
            <th>Название</th>
            <th>Описание</th>
            <th>Информация</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dish in Model)
        {
            <tr>
                <td>@dish.Блюдо_Id</td>
                <td>@dish.Название_блюда</td>
                <td>@dish.Описание</td>
                <td>@dish.Информация</td>
                <td>
                    <form asp-controller="DeleteDishes" asp-action="Delete" method="post">
                        <input type="hidden" name="Блюдо_Id" value="@dish.Блюдо_Id" />
                        <button type="submit" class="btn btn-danger">Удалить</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
